#ignoring node_modules and logs
/sfmback/node_modules
/sfmback/build
/sfmback/npm-debug.log
/sfmback/.env
/sfmback/.DS_Store
#front
/sfmFront/node_modules
/sfmFront/build
/sfmFront/npm-debug.log
/sfmFront/.env
/sfmFront/.DS_Store